<launch>
  
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="camera_info_url" value="package://stereo_calibration/cameras/${NAME}.yaml"/>
  </node>
  
  <node name="flow_detector" pkg="a53094896_assignment_4" type="motion_node" respawn="true" output="screen"/>

</launch>
