<launch>
  
	<node name="usb_cam" pkg="usb_cam" type="usb_cam_node">
		<param name="video_device" value="/dev/video0" />
		<param name="image_width" value="640" />
		<param name="image_height" value="480" />
		<param name="pixel_format" value="yuyv" />
		<param name="camera_frame_id" value="usb_cam" />
		<param name="io_method" value="mmap"/>
	</node>
  
	<node name="motion_detector_node" pkg="a53094896_assignment_4" type="motion_node"/>

	<node name="rqt_image_viewer" pkg="rqt_image_view" type="rqt_image_view"/>

	<node name="motion_mode_kb_node" pkg="a53094896_assignment_4"
			type="motion_mode_keyboard" respawn="true" output="screen"/>

</launch>
